<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gom.dolight.provider.shellinteractivity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application android:allowBackup="false" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme">

        <receiver
            android:name="gom.dolight.provider.shellinteractivity.BootReceiver"
            android:enabled="true">
            <intent-filter android:priority="999">
                <action android:name="gom.dolight.provider.shellinteraction.Toast"/>
                <action android:name="gom.dolight.provider.shellinteraction.Notification"/>
                <action android:name="gom.dolight.provider.shellinteraction.Cancel"/>
                <action android:name="gom.dolight.provider.shellinteraction.CancelAll"/>
                <action android:name="gom.dolight.provider.shellinteraction.DebugToast"/>
                <action android:name="gom.dolight.provider.shellinteraction.DebugNotification"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="gom.dolight.provider.shellinteractivity.NetworkReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="gom.dolight.provider.shellinteraction.ConnectivityCheck" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
